<!-- src/views/motorcycles/list.ejs -->
<%- include('../partials/header', { title: 'Motos' }) %>

<div class="row">
  <div class="col-12">
    <h1>Llistat de Motos</h1>
    <a href="/motorcycles/new" class="btn btn-primary mb-3">Nova Moto</a>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Informació</th>
          <th>Categoria</th>
          <th>Accions</th>
        </tr>
      </thead>
      <tbody>
        <% motorcycles.forEach(moto => { %>
          <tr>
            <td>
              <strong><%= moto.name %></strong> - <img width="20px" src="/images/<%= moto.country %>.png" > -  <%= moto.brand %> (<%= moto.cc %> cc)
            </td>
            <td><%= moto.Category ? moto.Category.name : 'Sense categoria' %></td>
            <td>
              <a href="/motorcycles/<%= moto.id %>/edit" class="btn btn-sm btn-warning">Editar</a>
              <a href="/motorcycles/<%= moto.id %>/delete" class="btn btn-sm btn-danger" onclick="return confirm('Segur que vols eliminar?')">Eliminar</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>